<div class="card mb-3 mt-5 m-2">
  <div class="row no-gutters">
    <div class="col-md-4">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <button class="btn btn-light btn-block">
            Customise
          </button>
          <form #customeForm="ngForm">
            <h6 class="card-title align-right">Customise View</h6>
            <div class="form-group">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id=""
                  name="CreatedDate"
                  [(ngModel)]="CreatedDate"
                />
                <label class="form-check-label" for="item1">Created Date</label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="Description"
                  [(ngModel)]="Description"
                />
                <label class="form-check-label" for="item2">Description</label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id=""
                  name="customiseitem"
                  name="Severity"
                  [(ngModel)]="Severity"
                />
                <label class="form-check-label" for="item3">Severity</label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id=""
                  name="customiseitem"
                  name="Status"
                  [(ngModel)]="Status"
                />
                <label class="form-check-label" for="item4">Status</label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id=""
                  name="ResolvedDate"
                  [(ngModel)]="ResolvedDate"
                />
                <label class="form-check-label" for="item5"
                  >Resolved Date</label
                >
              </div>
            </div>
          </form>
        </li>
        <li class="list-group-item ">
          <button class="btn btn-light btn-block">
            Filter
          </button>
          <form>
            <h6 class="card-title align-right">Severity | Hardness level</h6>
            <div class="form-group">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  id=""
                  name="Severity"
                  [(ngModel)]="Severity"
                  value="All"
                />
                <label class="form-check-label" for="sevfilter1">All</label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  id=""
                  name="Severity"
                  [(ngModel)]="Severity"
                  value="Minor"
                />
                <label class="form-check-label" for="sevfilter1">Minor</label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  id=""
                  name="Severity"
                  [(ngModel)]="Severity"
                  value="Major"
                />
                <label class="form-check-label" for="sevfilter1">Major</label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  id=""
                  name="Severity"
                  [(ngModel)]="Severity"
                  value="Critical"
                />
                <label class="form-check-label" for="sevfilter1"
                  >Critical</label
                >
              </div>
            </div>
            <h6 class="card-title align-right">Status Filter</h6>

            <div class="form-group">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  id=""
                  name="Status"
                  [(ngModel)]="Status"
                  value="All"
                />
                <label class="form-check-label" for="sevfilter1">All</label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  id=""
                  name="Status"
                  [(ngModel)]="Status"
                  value="Open"
                />
                <label class="form-check-label" for="sevfilter1">Open</label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  id=""
                  name="Status"
                  [(ngModel)]="Status"
                  value="In Progress"
                />
                <label class="form-check-label" for="sevfilter1"
                  >In Progress</label
                >
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  id=""
                  name="Status"
                  [(ngModel)]="Status"
                  value="Resolved"
                />
                <label class="form-check-label" for="sevfilter1"
                  >Resolved</label
                >
              </div>
            </div>
          </form>

          <label>{{ customeForm.value | json }}</label>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <app-view-issues></app-view-issues>
    </div>
  </div>
</div>
